networks:
  web:
    external: true
services:
  landing:
    image: nginx:alpine
    container_name: landing
    restart: unless-stopped
    volumes:
      - .:/usr/share/nginx/html
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.landing.rule=Host(`benjafo.com`)"
      - "traefik.http.routers.landing.entrypoints=websecure"
      - "traefik.http.routers.landing.tls.certresolver=letsencrypt"